<h3>Q1.  Explain with an example each when to use a for loop and a while loop.<h3>

<h4>For Loop</h4>
The for loop is used when we already know the number of iterations,which means when we know how many times a statement has to be executed.

Example-
How many nos. are divisible by 3 between 1 to 50?

In [1]:
count = 0
for i in range(1,51):
    if i%3 == 0:
        count = count+1

count

16

<h4>While Loop</h4>
When we need to end the loop on a condition other than the number of times, we use a while loop.

Example - Cumulative sum of a number like 1234 should be 10.

In [2]:
a = int(input("Enter no. "))

sum = 0
while(a>0):
    remainder = a%10
    sum = sum + remainder
    a = a//10
    
print("Sum=",sum)

Enter no. 1234
Sum= 10

<h3>Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for 
and while loop</h3>

In [3]:
#For Loop
sum = 0
for i in range(1,11):
    sum = sum + i
    
print("Sum of first 10 natural number:", sum)

Sum of first 10 natural number: 55

In [4]:
#while loop

sum = 0
count = 1
while count <=10:
    sum = sum + count 
    count = count + 1
    
print("Sum of first 10 natural number:", sum)

Sum of first 10 natural number: 55

<h5>Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will 
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit
    
    
You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is 
310, the total electricity bill should be 2250
</h5>

In [5]:
unit = int(input("Units of electricity consumed in a month:"))

amount = 0
total_amount = 0

if unit <= 100:
    amount = unit*4.5
    
elif unit > 100 and unit <=200:
    amount = 100*4.5 + (unit - 100)*6 
    
elif unit > 200 and unit <= 300:
    amount = 100*4.5 + 100*6 + (unit - 200)*10
    
else:
    amount = 100*4.5 + 100*6 + 100*10 + (unit - 300)*20
    
print("Electricity bill:", amount)

Units of electricity consumed in a month:310
Electricity bill: 2250.0

<h5>Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
that list.</h5>

In [6]:
number = list(range(1,101))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [7]:
#Using For loop
new_list = []
for i in number:
    new_num = i**3
    if new_num%4 == 0 or new_num%5 == 0:
        new_list.append(i)
        
print("List:", new_list)

List: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [8]:
#using while loop
new_list = []
i = 0
while i < 100:
    new_num = number[i]**3
    if new_num%4 == 0 or new_num%5 == 0:
        new_list.append(number[i])
    
    i= i+1
   

print("List:", new_list)

List: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

<h5>Q5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"</h5>

In [9]:
string = "I want to become a data scientist"

vowels = set("aeiouAEIOU")
count = 0
vowel_list = []

for i in string:
    if i in vowels:
        count = count+1
        vowel_list.append(i)
        
print(count)
print(vowel_list)

12
['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']